@model VmProduct
@inject IHttpContextAccessor _httpContext
@{

    string cart = _httpContext.HttpContext.Request.Cookies["cart"];
    List<string> cartList = new List<string>();
    if (!string.IsNullOrEmpty(cart))
    {
        cartList = cart.Split("-").ToList();
    }
}

<div class="scrollTop" id="scrollTop">
    <button><i class="fa fa-angle-double-up"></i></button>
</div>
<section class="cart women">
    <div class="row">
        <div class="">
            <img src="images/heading-pages-02.jpg" alt="">
            <h1>WOMEN</h1>
            <h4>New Arrivals Women Collection 2018</h4>
        </div>
    </div>
</section>

<div class="container mt-5">
    <div class="row left-side">
        <div class="col-lg-4">
            <div class="row">
                <div clas="col-lg-12">
                    <ul>
                        <h5>Categories</h5>
                        <li><a href="#">All</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Kids</a></li>
                        <li><a href="#">Accesories</a></li>
                    </ul>
                </div>
                <div class=" col-lg-12 mt-5">
                    <ul>
                        <h5>Color</h5>
                        <li><a href="#">Black</a></li>
                        <li><a href="#">Red</a></li>
                        <li><a href="#">White</a></li>
                        <li><a href="#">Yellow</a></li>
                        <li><a href="#">Blue</a></li>
                    </ul>
                </div>
                <div class=" col-lg-12 mt-5">
                    <ul>
                        <h5>Brand</h5>
                        <li><a href="#">Suprame</a></li>
                        <li><a href="#">DogeCabane</a></li>
                        <li><a href="#">White</a></li>
                        <li><a href="#">Yellow</a></li>
                        <li><a href="#">Blue</a></li>
                    </ul>
                </div>
                <div class=" col-lg-12 mt-5">
                    <ul>
                        <h5>Size</h5>
                        <li><a href="#">S</a></li>
                        <li><a href="#">M</a></li>
                        <li><a href="#">L</a></li>
                        <li><a href="#">XL</a></li>
                        <li><a href="#">XLL</a></li>
                    </ul>
                </div>

                <div class="col-lg-12 mt-5">
                    <h5 class="mb-3">Filters</h5>
                    <span id="line"></span>
                    <div class="price-filter">
                        <form class=" w-100">
                            <input type="range" min="0" max="100" />
                        </form>
                    </div>
                    <div>
                        <button class="btn btn-dark">Filter</button>
                        <span class="ml-3">Range: $50 - $200</span>
                    </div>
                </div>
                <div class="col-lg-12 mt-3 colors">
                    <h5 class="mt-5 mb-3">Color</h5>
                    <div class="row">
                        <div class="col col1">
                            <label></label>
                        </div>
                        <div class="col col2">
                            <label></label>
                        </div>
                        <div class="col col3">
                            <label></label>
                        </div>
                        <div class="col col4">
                            <label></label>
                        </div>
                        <div class="col col5">
                            <label></label>
                        </div>
                        <div class="col col6">
                            <label></label>
                        </div>
                        <div class="col col7">
                            <label></label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <input type="search" name="" id="" class="form-control pt-3 pb-3 mt-5 w-75" placeholder="Search Products...">
                </div>
            </div>
        </div>


        <div class="col-lg-8 main-side">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <select name="sortTo" id="" class="form-control">
                                        <option value="Default Sorting">Default Sorting</option>
                                        <option value="Popularity">Popularity</option>
                                        <option value="Price low to high">Price low to high</option>
                                        <option value="Price high to low">Price high to low</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <select name="priceSort" id="" class="form-control">
                                        <option value="Price">Price</option>
                                        <option value="$0.00 - $50.00">$0.00 - $50.00</option>
                                        <option value="$50.00 - $100.00">$50.00 - $100.00</option>
                                        <option value="$100.00 - $150.00">$100.00 - $150.00</option>
                                        <option value="$150.00 - $200.00">$150.00 - $200.00</option>
                                        <option value="$200.00+">$200.00+</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div>
                            <div class="col-lg-6 mw-100">
                                <span>Showing 1-12 of 16 results</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-5">
                @foreach (var item in Model.Products)
                {
                    <div class="col-lg-4">
                        @{
                            DateTime? itemDiscount = item.ColorToProducts.FirstOrDefault().SizeColorToProducts.FirstOrDefault().DiscountDate;
                            if (itemDiscount != null && itemDiscount > DateTime.Now)
                            {
                                <span class="onsale">Sale</span>
                            }
                        }
                        <img src="~/Uploads/@item.ColorToProducts.FirstOrDefault().ProductImages.FirstOrDefault().Image" alt="">
                        @*<button class="btn btn-secondary addTocart">ADD TO CART</button>*@
                        <button asp-controller="shop" asp-action="addToCart" asp-route-sizeColorProductId="@item.ColorToProducts.FirstOrDefault().SizeColorToProducts.FirstOrDefault().Id" data-quantity="1" class="btn btn-secondary addTocart @(cartList.Any(i=>i==item.ColorToProducts.FirstOrDefault().SizeColorToProducts.FirstOrDefault().Id.ToString())?"inCart":"")"></button>
                        <p class="item-name mt-3"><a href="">@item.Name</a></p>
                        <p class="item-price">
                            @if (itemDiscount != null && itemDiscount > DateTime.Now)
                            {
                                <del>
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>@item.ColorToProducts.FirstOrDefault().SizeColorToProducts.FirstOrDefault().Price
                                    </span>
                                </del>
                                <ins>
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>@item.ColorToProducts.FirstOrDefault().SizeColorToProducts.FirstOrDefault().DiscountPrice
                                    </span>
                                </ins>
                            }
                            else
                            {
                                <ins>
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>@item.ColorToProducts.FirstOrDefault().SizeColorToProducts.FirstOrDefault().Price
                                    </span>
                                </ins>
                            }
                        </p>
                    </div>
                }


            </div>



            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item @(Model.Page==1?"disabled":"")">
                        <a class="page-link pageItemCount" asp-controller="shop" asp-action="index" asp-route-page="@(Model.Page-1)" asp-route-itemCount="@Model.ItemCount">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(Model.Page==i?"active":"")" aria-current="page">
                            <a class="page-link pageItemCount" asp-controller="shop" asp-action="index" asp-route-page="@i" asp-route-itemCount="@Model.ItemCount">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.Page==Model.PageCount?"disabled":"")">
                        <a class="page-link pageItemCount" asp-controller="shop" asp-action="index" asp-route-page="@(Model.Page+1)" asp-route-itemCount="@Model.ItemCount">Next</a>
                    </li>
                </ul>
            </nav>
            <select id="itemCount">
                @for (int i = 3; i < 10; i += 3)
                {
                    if (Model.ItemCount == i)
                    {
                        <option selected value="@i-@Model.PageCount-@Model.Page">@i</option>
                    }
                    else
                    {
                        <option value="@i-@Model.PageCount-@Model.Page">@i</option>
                    }
                }
            </select>
        </div>
    </div>
</div>