@model About

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class=" container">
    <div class=" row">
        <div class=" col-lg-6">
            <form asp-area="admin" asp-controller="about" asp-action="create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class=" text-danger"></div>
                <div class="mb-3">
                    <label asp-for="@Model.AboutImageFile" class="form-label">Image</label>
                    <input class="form-control" asp-for="@Model.AboutImageFile">
                    <span asp-validation-for="@Model.AboutImageFile" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.AboutTitle" class="form-label">About Title</label>
                    <input class="form-control" asp-for="@Model.AboutTitle">
                    <span asp-validation-for="@Model.AboutTitle" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.AboutContent" class="form-label">About Content</label>
                    <input class="form-control" asp-for="@Model.AboutContent">
                    <span asp-validation-for="@Model.AboutContent" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>


